
        th.top{
            background-color: #dfbbe1;
        }
        td.data{
            background-color: #73adea;
        }
        td {
            background-color: #94b6ea;
        }
        table {
            width: 100%;
            text-align: center; 
        }
        table,
        th,
        td {
            border: 1px solid black;
        }
